body {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    color: white;
    background-color: pink;
}

h1 {
    font-size: 40pt;
    color: blue;
    text-align: center;
}

h2 {
    color: blue;
}

a {
    color: green;
}

b {
    color: brown;
}

a:hover {
    color: black;
    text-decoration: underline;
}

a:active {
    color: blue;
    text-decoration: underline;
}

p::first-letter {
    font-weight: bold;
    color: green;
    font-size: 150%;
}

dl {
    font-size: 75%;
}

dt {
    color: brown;
    font-weight: bold;
}
