.edit {
    background-color: pink;
    border: 25px solid brown;
    text-align: center;
    position: relative;
    padding: 25px;
    width: 300px;
    margin: 25px;
    left: 130px;
}

.rel {
    border: 25px solid brown;
    background-color: pink;
    text-align: center;
    position: relative;
    padding: 25px;
    width: 300px;
    margin: 25px;
    left: 130px;
}

.stc {
    position: -webkit-sticky;
    background-color: yellow;
    border: 2px solid cyan;
    position: sticky;
    padding: 5px;
    top: 0;
}
